<div class="input-group mb-3">
    <input type="text" class="form-control" placeholder="Enter task" [(ngModel)]="taskName" style="background-color: #f8f9fa; border-color: #ced4da;">
    <button (click)="addTasks()" class="btn btn-secondary" style=" color: white;">Add</button>
</div>

<!-- Task List Section -->
<table class="table table-striped rounded">
    <thead>
        <tr>
            <th scope="col">Task</th>
            <th scope="col">When Created</th>
            <th scope="col">When Completed</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of getTasks(); track: trackByIndex" [ngStyle]="{'background-color': item.isCompleted ? '#fff' : '#f8f9fa', 'color': item.isCompleted ? '#000' : '#000'}">
            <td [class.text-decoration-line-through]="item.isCompleted">{{ item.task }}</td>
            <td [class.text-decoration-line-through]="item.isCompleted">{{ item.whenCreated }}</td>
            <td [class.text-decoration-line-through]="item.isCompleted">{{ item.whenCompleted }}</td>
            <td>
                <div class="d-flex justify-content-end">
                    <button class="btn btn-danger btn-sm me-2" (click)="removeTask(item.id)" style="background-color: #dc3545; border-color: #dc3545;">Delete</button>
                    <button class="btn btn-success btn-sm" (click)="isCompleteTask(item.id)" style="background-color: #28a745; border-color: #28a745;">Complete</button>
                </div>
            </td>
        </tr>
    </tbody>
</table>


<style>
    .text-decoration-line-through {
        text-decoration: line-through;
    }
    .input-group .form-control {
        border-radius: 0.375rem 0 0 0.375rem;
    }
    .input-group .btn {
        border-radius: 0 0.375rem 0.375rem 0;
    }
</style>